/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}




#home { 
   
}


#content {
	margin-top: 70px;
	margin-bottom: 20px;
}

body {
  font-family: PT Sans;
}

. {
	font-family: PT Sans;
}

div.pagetop{
			background-color: teal;
			color :white;
			text-align:left;
			top:0px;
			position:fixed;
			width:100%;			
}

div.sectionheader{
			background-color:teal;
			color:#ffd700;
			text-align:left;
			width:100%;
}

p.top{
	font-size:290%;
}


.navbar {
	padding-top: 10px;
	color:teal;
  background-image: url("greyzz.png");
}

.navbar a {
	color: teal;
	font-size:25px;
	font-family: PT Sans;
	text-decoration: none;
	text-align:left;
	padding: 15px;
}

.navbar li {
	display: inline;
}

.wrapper {
    float: left;
}
/*!
 * This is code for the gallery div
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

.caption {
    position:absolute;
    top:0;
    left:20px;
    text-align:center;

}
h4 {
    font-family: PT Sans;
    color: teal;
    font-size: 25px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 450px;
  margin-bottom: 0px;
  margin-top: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #20b2aa;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.textbutton{
	color:FFFFFF;

}

.title{
	font: PT Sans;
	font-size: 30px;
  font-color:teal;
}

.fontaw{
	font-size: 120px;
	text-align: center;
  color:#ffa500;
}

.imageLinkCol{
  color:#f238a6;
}

.rssFeed{
  margin-top:20px;
}

a{
  color:#f238a6;
}

.pinkColorFill{
  background-color:#f238a6;
  border:black;
}

.pinkColor{
  color:#f238a6;
}

.grayColorFill{
  background-color:#CDCFD1;
}

.hero-unit{
  fill:#d3d3d3;
  outline:black;
}

.rssFeed{
  margin-top:20px;
}

.imageIcons{
  margin-left:20px;
  font-size:150px;
  color:#f238a6;
  text-align: center;
  border-right:solid;
  border-bottom:solid;
}
.buttonclr{
  color: teal;
}

.basicText{
  font:PT Sans;
}

.counter{
  text-align: center;
  font-size:140px;
  color:#f238a6;
}

.bigText{
  font-size:30px;
  text-align:center;
  margin-top:40px;
}

.biggerText{
  font-size:50px;
  text-align:center;
  margin-top:100px;
}

.mainTitle{
  color:#ffffff; 
  font:PT Sans;
  font-size:25px;
}

.groupsText{
  color:color:#000000;
  margin-top:30px;
  font-size:50px;
}

.wrapper {
    float: left;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}



#ChatPerson {
	margin-top: 30px;
	text-align: center;
}

#counselorBtn {
	margin-top: 100px;
	background-color: #f238a6;
	margin-bottom:20px;
	width: 200px;
	height: 80px;
	vertical-align: middle;
	padding-top: 25px;
	font-size: 18px;
}

.message1 {
	padding-left: 10px;
}

.chatIcons{
	font-family: Arial;
	font-size: 40px;
	color:#f238a6;
}

.groupIcons{
  font-family: Arial;
  font-size: 40px;
  color:#f238a6;
}

.profileIcons{
  font-family: Arial;
  font-size: 80px;
  color:#f238a6;
}

.textBox {
	margin-left: 3%;
}